
#loading {
    background-color: #EFEFEF;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    display: flex;
}

#loadingstamp {
    animation: rotation 4s infinite linear;
    height: 20%;
    width: auto;
    margin: auto;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

* {
    font-family: urbane,sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black; 
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;

}
*::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0px; padding: 0px;
    background-color: #EFEFEF;
}


a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: black;
}

hr {
    border: 2px solid black;
    padding: 0;
    margin: 0;
}

.landing {
    height:100vh;
    overflow: hidden;
}


#sketching-canvas {
    display: none;
}


.landing-wrapper {
    height: 100vh;
    width: 100%;
    position: absolute;
}

.fusszeile {
    border-top: black 4px solid;
    border-bottom: black 4px solid;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 20px;

}

.content {
        padding-top:0px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
}

.accordion {
    background-color: #EFEFEF;
    border-top: 4px solid black;
    border-right: 4px solid black;
    /*border-left: 4px solid black;*/
    padding-left: 20px;
    font-size: 1.2em;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 17vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.panel {
    background-color: #EFEFEF;
    height:73vh;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    padding: 20px;
    padding-right:0px;
    padding-left:0px;
    display: none;
}

.open {
    border-left: 4px solid black;
}

.media-wrapper {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    will-change: transform;
    cursor: grabbing;
}

.media-wrapper.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1.0);
}

figure > img {
    height: 95%;
    width: auto;
}

figure > iframe {
    display: inline;
    height: 95%;
    width: 1000px;
}

figure > video {
    height: 95%;
    width: auto;
}

.erklaerung {
    height: 100%;
    min-width: 400px;
    text-align: left;
    hyphens: auto;
    padding-left: 20px;
    padding-right: 1vw;
}

.erklaerung1 {
    height: 100%;
    width: 100%;
    text-align: left;
    hyphens:auto;
    padding-left: 20px;
    padding-right: 1vw;
    white-space:initial;
}

figure {
    display: inline;
    flex-flow: column;
    height: 98%;
    width: auto;
    margin-top: 0px;
}

figcaption {
    text-align: left;
    vertical-align: middle;
    margin: auto;
    font-size: 0.85em;
}

.footer {
    text-align: left;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
}

@media only screen and (max-width: 374px) {
    /* For mobile */

    h1 {
        font-size: 2.5rem;
    }

    #wintersemester {
        font-size: 1rem;
    }

    .wer {
        font-size: 2rem;
        transform: rotate(90deg);
    }

    .beschreibung {
        font-size: 0.85rem;
        padding-right: 1vw;
    }

    .landing {
        height:100vh;
        overflow: hidden;
    }

    .landing-wrapper {
        display: grid;
        grid-template-columns: repeat(20, calc(100%/20));
        grid-template-rows: repeat(30, calc(100%/30));
    }

    .kleben {
        grid-column: 4/ span 5;
        grid-row: 12/ span 1;
        display:none;
        justify-content:center;
        align-items:flex-end;
        animation: blinker 3s linear infinite;
        /*background-color: red;*/
        font-size: 1.2em;

    }
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
    
    #sketching-canvas {
        position:absolute;
        height: 100vh;
        width: 100%;
        z-index: +1;
        top: 0px;
        left: 0px;
        display: unset;
    }
    #briefmarke_s {
        grid-row: 1/ span 1;
        grid-column: 9;
        display: grid;
        padding-right: 20px;
        padding-top: 20px;
        align-items: top;
        justify-items: end;
        width: 45vw;
    }
    #briefmarke_s > img {
        width: 45vw;
    }
    #briefmarke_r {
        grid-row: 3/ span 1;
        grid-column: 8;
        display:grid;
        align-items: top;
        justify-items: center;
        width:45vw;
    }

    #briefmarke_b {
        grid-row: 8/ span 3;
        grid-column: 2;
        display: grid;
        align-items: top;
        justify-items: center;
        width:50vw;

    }

    #briefmarke_g {
        grid-row: 10/ span 2;
        grid-column: 10;
        display: grid;
        padding-top: 20px;
        padding-left: 20px;
        width: 35vw;
    }
  

    .obj1 {
        height: initial;
        padding-left: 2vw;
        grid-column: 1/ span 3;
        grid-row: 22/ span 2;
    }

    .obj2 {
        height: initial;
        padding-left: 2vw;
        grid-column: 1/ span 20;
        grid-row: 24/ span 1;
        display: flex;
        width: 100%;
    }

    .obj3 {
        height: initial;
        display: inline;
        grid-column: 17/ span 3;
        grid-row: 18/ span 10;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: pre;
    }

    .obj4 {
        display:grid;
        grid-row: 26;
        grid-column: 1;
        padding-left: 13px;
        width: 100vw;
        height: 16vh;
        text-align: right;
        letter-spacing: 0.4px;
        border-top: solid black 4px;
    }

    
    .fusszeile {
        grid-column: 1/ span 5;
        grid-row: 11;
    }

    .arrow {
        height: initial;
        grid-column: 1/ span 5;
        grid-row: 12/ span 1;
        border-top: black 4px solid;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .accordion {
        font-size: 0.85em;
        padding-left: 20px;
        
    }

    .content {
        padding-top: 10px;
    }

    #acc1 {
        background-image: url(media/stampscontent/stamp1.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc2 {
        background-image: url(media/stampscontent/stamp2.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc3{
        background-image: url(media/stampscontent/stamp3.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc4{
        background-image: url(media/stampscontent/stamp4.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc5 {
        background-image: url(media/stampscontent/stamp5.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc6 {
        background-image: url(media/stampscontent/stamp6.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc7 {
        background-image: url(media/stampscontent/stamp7.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc8 {
        background-image: url(media/stampscontent/stamp8.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc9 {
        background-image: url(media/stampscontent/stamp9.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc10 {
        background-image: url(media/stampscontent/stamp10.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc11{
        background-image: url(media/stampscontent/stamp11.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc12 {
        background-image: url(media/stampscontent/stamp12.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc1.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp1.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc2.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp2.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc3.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp3.png);
        background-repeat: no-repeat;
        background-position: right top, right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc4.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp4.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc5.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp5.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc6.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp6.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc7.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp7.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc8.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp8.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc9.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp9.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc10.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp10.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc11.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp11.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc12.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp12.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
}

@media only screen and (min-width: 374px) {
    /* For mobile */

    h1 {
        font-size: 2.5rem;
    }

    #wintersemester {
        font-size: 1rem;
    }

    .wer {
        font-size: 2rem;
        transform: rotate(90deg);
    }

    .beschreibung {
        font-size: 0.75rem;
        padding-right: 1vw;
    }

    .landing {
        height:100vh;
        overflow: hidden;
    }

    .landing-wrapper {
        display: grid;
        grid-template-columns: repeat(20, calc(100%/20));
        grid-template-rows: repeat(30, calc(100%/30));
    }

    .kleben {
        grid-column: 4/ span 5;
        grid-row: 12/ span 1;
        display:none;
        justify-content:center;
        align-items:flex-end;
        animation: blinker 3s linear infinite;
        /*background-color: red;*/
        font-size: 1.2em;

    }
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
    
    #sketching-canvas {
        position:absolute;
        height: 100vh;
        width: 100%;
        z-index: +1;
        top: 0px;
        left: 0px;
        display: unset;
    }
    #briefmarke_s {
        grid-row: 1/ span 1;
        grid-column: 9;
        display: grid;
        padding-right: 20px;
        padding-top: 20px;
        align-items: top;
        justify-items: end;
        width: 45vw;
    }
    #briefmarke_s > img {
        width: 45vw;
    }
    #briefmarke_r {
        grid-row: 3/ span 1;
        grid-column: 8;
        display:grid;
        align-items: top;
        justify-items: center;
        width:45vw;
    }

    #briefmarke_b {
        grid-row: 8/ span 3;
        grid-column: 2;
        display: grid;
        align-items: top;
        justify-items: center;
        width:50vw;

    }

    #briefmarke_g {
        grid-row: 10/ span 2;
        grid-column: 10;
        display: grid;
        padding-top: 20px;
        padding-left: 20px;
        width: 35vw;
    }
  

    .obj1 {
        height: initial;
        padding-left: 2vw;
        grid-column: 1/ span 3;
        grid-row: 21/ span 2;
    }

    .obj2 {
        height: initial;
        padding-left: 2vw;
        grid-column: 1/ span 20;
        grid-row: 24/ span 1;
        display: flex;
        width: 100%;
    }

    .obj3 {
        height: initial;
        display: inline;
        grid-column: 17/ span 3;
        grid-row: 16/ span 10;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: pre;
    }

    .obj4 {
        display:grid;
        grid-row: 26;
        grid-column: 1;
        padding-left: 13px;
        width: 100vw;
        height: 17vh;
        text-align: right;
        letter-spacing: 0.4px;
        border-top: solid black 4px;
    }

    
    .fusszeile {
        grid-column: 1/ span 5;
        grid-row: 11;
    }

    .arrow {
        height: initial;
        grid-column: 1/ span 5;
        grid-row: 12/ span 1;
        border-top: black 4px solid;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .accordion {
        font-size: 0.85em;
        padding-left: 20px;
        
    }

    .content {
        padding-top: 10px;
    }

    #acc1 {
        background-image: url(media/stampscontent/stamp1.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc2 {
        background-image: url(media/stampscontent/stamp2.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc3{
        background-image: url(media/stampscontent/stamp3.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc4{
        background-image: url(media/stampscontent/stamp4.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc5 {
        background-image: url(media/stampscontent/stamp5.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc6 {
        background-image: url(media/stampscontent/stamp6.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc7 {
        background-image: url(media/stampscontent/stamp7.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc8 {
        background-image: url(media/stampscontent/stamp8.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc9 {
        background-image: url(media/stampscontent/stamp9.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc10 {
        background-image: url(media/stampscontent/stamp10.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc11{
        background-image: url(media/stampscontent/stamp11.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc12 {
        background-image: url(media/stampscontent/stamp12.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc1.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp1.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc2.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp2.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc3.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp3.png);
        background-repeat: no-repeat;
        background-position: right top, right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc4.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp4.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc5.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp5.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc6.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp6.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc7.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp7.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc8.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp8.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc9.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp9.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc10.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp10.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc11.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp11.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc12.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp12.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
}

@media only screen and (min-width: 767px) {
    /* For iPad: */

    h1 {
        font-size:4.5rem;
    }

    #wintersemester {
        font-size: 2rem;
    }

    .wer {
        font-size: 3rem;
        transform: rotate(90deg);
    }

    .beschreibung {
        font-size: 1.5rem;
        padding-right: 1vw;
    }

    .landing {
        height:100vh;
        overflow: hidden;
    }

    .landing-wrapper {
        display: grid;
        grid-template-columns: repeat(20, calc(100%/20));
        grid-template-rows: repeat(20, calc(100%/20));
    }

    .kleben {
        grid-column: 4/ span 5;
        grid-row: 12 span 1;
        display:none;
        justify-content:center;
        align-items:flex-end;
        animation: blinker 3s linear infinite;
        /*background-color: red;*/
        font-size: 1.2em;

    }
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
    
    #sketching-canvas {
        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: +1;
        top: 0;
        left: 0;
        display: unset;
    }
    #briefmarke_s {
        grid-row: 1/ span 1;
        grid-column: 10;
        display: grid;
        padding-right: 20px;
        padding-top: 20px;
        align-items: top;
        justify-items: end;
      
    }
    #briefmarke_s > img {
        width: 25vw;
    }
    #briefmarke_r {
        grid-row: 3/ span 1;
        grid-column: 12;
        display:grid;
        align-items: top;
        justify-items: center;
        width: 25vw;
    }

    #briefmarke_b {
        grid-row: 6/ span 3;
        grid-column: 2;
        display: grid;
        align-items: top;
        justify-items: center;
        width:25vw;

    }

    #briefmarke_g {
        grid-row: 8/ span 2;
        grid-column: 10;
        display: grid;
        padding-top: 20px;
        padding-left: 20px;
        width: 18vw;
    }
  
    .obj1 {
        height: initial;
        grid-column: 1/ span 3;
        grid-row: 12/ span 2;
    }

    .obj2 {
        height: initial;
        grid-column: 1/ span 20;
        grid-row: 14/ span 1;
        display: flex;
        width: 100%;
    }

    .obj3 {
        height: initial;
        display: inline;
        padding-top: 10px;
        grid-column: 17/ span 3;
        grid-row: 9/ span 10;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: pre;
        
 
    }

    .obj4 {
        display:grid;
        grid-row: 16;
        grid-column: 1;
        width: 100vw;
        height: 25vh;
        text-align: right;
        letter-spacing: 0.4px;
       
        border-top: solid black 4px;
    }


    hr {
        display: none;;
    }

   
    .fusszeile {
        grid-column: 1/ span 5;
        grid-row: 11;
    }

    .arrow {
        height: initial;
        grid-column: 1/ span 5;
        grid-row: 12/ span 1;
        border-top: black 4px solid;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .accordion {
        font-size: 2em;
        padding-left: 20px;
        
    }

    .content {
        padding-top: 10px;
    }

    #acc1 {
        background-image: url(media/stampscontent/stamp1.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc2 {
        background-image: url(media/stampscontent/stamp2.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc3{
        background-image: url(media/stampscontent/stamp3.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc4{
        background-image: url(media/stampscontent/stamp4.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc5 {
        background-image: url(media/stampscontent/stamp5.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc6 {
        background-image: url(media/stampscontent/stamp6.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc7 {
        background-image: url(media/stampscontent/stamp7.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc8 {
        background-image: url(media/stampscontent/stamp8.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc9 {
        background-image: url(media/stampscontent/stamp9.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc10 {
        background-image: url(media/stampscontent/stamp10.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc11{
        background-image: url(media/stampscontent/stamp11.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc12 {
        background-image: url(media/stampscontent/stamp12.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc1.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp1.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc2.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp2.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc3.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp3.png);
        background-repeat: no-repeat;
        background-position: right top, right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc4.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp4.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc5.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp5.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc6.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp6.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc7.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp7.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc8.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp8.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc9.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp9.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc10.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp10.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc11.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp11.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc12.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp12.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
}

@media only screen and (min-width: 1000px) {
    /* For desktop: */
    h1 {
        font-size: 5rem;
    }

    #wintersemester {
        font-size: 2rem;
    }

    .wer {
        font-size: 3rem;
        transform: rotate(0deg);
    }

    .beschreibung {
        font-size: 1rem;
        padding: 1rem;
        padding-right: 4rem;
    }

    .landing-wrapper {
        display: grid;
        grid-template-columns: repeat(50, calc(100%/50));
        grid-template-rows: repeat(12, calc(100%/12));
    }
    .kleben {
        grid-column: 21/ span 10;
        grid-row: 1/ span 1;
        display:flex;
        justify-content:center;
        align-items:flex-end;
        animation: blinker 3s linear infinite;
        /*background-color: red;*/
        font-size: 1.2em;

    }
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
    
    #sketching-canvas {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: +1;
        top: 0;
        left: 0;
        display: unset;
    }
    #briefmarke_s {
        grid-row: 1/ span 1;
        grid-column:27;
        display: grid;
        padding-right: 20px;
        padding-top: 20px;
        align-items: top;
        justify-items: end;
    }

    #briefmarke_s > img {
        width: 250px;
    }
    #briefmarke_r {
        grid-row: 5/ span 5;
        grid-column: 18/ span 5;
        display: grid;
        align-items: left;
        justify-items: center;
        padding-right: 50px;
        width: 275px;
    }
    #briefmarke_b {
        grid-row: 2;
        grid-column: 34;
        display: grid;
        align-items: top;
        justify-items: center;
        width: 275px;
        padding-left: 50px;
    }
    #briefmarke_g {
        grid-row: 5/ span 2;
        grid-column: 6;
        display: grid;
        padding-top: 20px;
        padding-left: 20px;
        width: 155px;
    }

    .obj1 {
        height: initial;
        grid-column: 2/ span 3;
        grid-row: 8/ span 2;
    }
    .obj2 {
        height: initial;
        grid-column: 2/ span 25;
        grid-row: 10/ span 2;
        display: flex;
        
    }

    .obj3 {
        height: initial;
        grid-column: 40/span 20;
        grid-row: 8/ span 2;
    }

    .obj4 {
        width: 45vw;
        height: 25vh;
        grid-column: 30;
        grid-row: 10/ span 2;
        font-size:14px;
        text-align: right;
        letter-spacing: 0.4px;
        border-top: solid black 4px;
    }

    .blackblock1 {
        background-color: black;
        grid-column: 4;
        grid-row: 1/ span 3;
    }

    .blackblock2 {
        background-color: black;
        grid-column: 30;
        grid-row: 8/ span 5;
    }

    .fusszeile {
        grid-column: 1/ span 5;
        grid-row: 11;
    }

    .arrow {
        height: initial;
        grid-column: 1/ span 5;
        grid-row: 12/ span 1;
        border-top: black 4px solid;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .accordion {
        font-size: 2em;
    }


    #acc1 {
        background-image: url(media/stampscontent/stamp1.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc2 {
        background-image: url(media/stampscontent/stamp2.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc3{
        background-image: url(media/stampscontent/stamp3.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc4{
        background-image: url(media/stampscontent/stamp4.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc5 {
        background-image: url(media/stampscontent/stamp5.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc6 {
        background-image: url(media/stampscontent/stamp6.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc7 {
        background-image: url(media/stampscontent/stamp7.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc8 {
        background-image: url(media/stampscontent/stamp8.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc9 {
        background-image: url(media/stampscontent/stamp9.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc10 {
        background-image: url(media/stampscontent/stamp10.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc11{
        background-image: url(media/stampscontent/stamp11.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc12 {
        background-image: url(media/stampscontent/stamp12.png);
        background-repeat: no-repeat;
        background-position: right 20px top 20px;
        background-size: auto 70%;
    }
    #acc1.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp1.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc2.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp2.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc3.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp3.png);
        background-repeat: no-repeat;
        background-position: right top, right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc4.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp4.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc5.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp5.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc6.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp6.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc7.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp7.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc8.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp8.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc9.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp9.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc10.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp10.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc11.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp11.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
    #acc12.open {
        background-image: url(media/stempel.png), url(media/stampscontent/stamp12.png);
        background-repeat: no-repeat;
        background-position: right top, right 20px top 20px;
        background-size: 300px auto, auto 70%;
    }
}
